<mat-card class="forgot-password-card">
    <mat-card-content>
        <h2 class="forgot-password-title">Olvidaste tu contraseña?</h2>
        <p>¡No te preocupes! :)</p>
        <mat-list class="forgot-password-list">
            <mat-form-field appearance="fill">
                <mat-label>Correo electrónico</mat-label>
                <input matInput>
            </mat-form-field>
            <div>
                <button mat-raised-button color="primary" class="forgot-password-button" (click)="resetPassword()">Recuperar contraseña</button>
            </div>
        </mat-list>
    </mat-card-content>
</mat-card>