.forgot-password-card {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 500px;
    text-align: center;
    background-color: #043915;
    color: #FFFFFF;
}

.forgot-password-list, mat-form-field {
    margin: 0 auto;
    padding: 10px 0 10px 0;
    width: 400px;
}

.forgot-password-button {
  margin: 0.8rem;
  padding: 2rem 2rem;
  font-size: 1rem;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
}

button[mat-raised-button] {
  background-color: #B0CE88 !important;
  color: #043915 !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

button[mat-raised-button]:hover {
  background-color: #FFFDC1 !important;
  color: #043915 !important;
  transform: scale(1.05);
}