.dashboard-content {
    padding: 20px;
}

.dashboard-content > mat-card {
    margin-bottom: 16px;
}

.dashboard-card-content {
    margin-top: 16px;
    text-align: center;
}

.dashboard-card-spinner {
    margin: 0 auto;
}

.dashboard-button {
    padding: 20px;
}

.dashboard-form-field {
    margin: 0 5px 0 5px;
}