.signup-card {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 500px;
    text-align: center;
}

.signup-list, mat-form-field {
    margin: 0 auto;
    padding: 10px 0 10px 0;
    width: 400px;
}

.signup-button {
    padding: 20px;
}