/* You can add global styles to this file, and also import other style files */
/* Color pallet: Yellow: #FFFD8F, Light green: #B0CE88, Green: #4C763B, Dark green: #043915 */
html, body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  font-family: inherit;
}