<mat-card class="verify-email-card">
  <mat-card-content>
    <h2 class="verify-email-title">Verificar correo electrónico</h2>
    @if (userData; as User) {
      <mat-list class="verify-email-list">
        <h3>Hemos enviado un correo de confirmación a tu dirección de correo: <strong>{{userData.email}}</strong>.</h3>
        <h3>Por favor, revisa tu bandeja de entrada y haz clic en el enlace para verificar tu cuenta.</h3>
        <button mat-raised-button color="primary" class="verify-email-button">
          Reenviar correo
        </button>
      </mat-list>
    }
  </mat-card-content>
</mat-card>